doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    title Cole Swartz
  body
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')

    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='#')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/projects') Projects
          li.nav-item
            a.nav-link(href='/contact') Contact
          li.nav-item
            a.nav-link(href='/resume') Resume
    main(role='main')
      .jumbotron(style="background-color:#dae0f1")
        .container
          h1.display-3 Cole #[b Swartz]
          p
            | Hey there! I'm a motivated student from the Ohio State University, graduating in the spring of 2021 with a B.S. in Computer Science & Engineering and minor in Business. Programming has been a passion of mine ever since I was a kid, and it's extraordinary to me that I have the opportunity to turn that passion into my life's work. There's something remarkable about being able to transform code on a computer into something tangible that can be seen by the world.
          p
            | I've currently accepted an offer with #[a(href="https://www.8451.com/") 84.51°] as a software engineer, starting June 2021! I look forward to starting my professional career on a high note and working with some amazing people.
      .container
        .row
          .col-md-4
            h2 Projects
            p
              | WIP! Expect this page to grow as I'm able to add more finished projects to my portfolio.
            p
              | Alternatively, view #[a(href="https://github.com/cswartz9") my GitHub].
          .col-md-4
            h2 Contact
            p
              svg.bi.bi-envelope-fill(width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' d='M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z')
                #[a( href="mailto: cswartz9@gmail.com") cswartz9@gmail.com]
            p
              svg.bi.bi-link(width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                path(d='M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z')
                path(d='M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z')
                #[a( href="https://www.linkedin.com/in/cole-swartz-753a481b6/") LinkedIn]
            p
              | If you'd like to contact me directly, please click the link below.
          .col-md-4
            h2 Resume
            p
              | View my bona fides, skills, and prior work experience.
        .row
          .col-md-4
            p
              a.btn.btn-secondary(href='/projects' role='button') View Projects »
          .col-md-4
            p
              a.btn.btn-secondary(href='/contact' role='button') Contact Form »
          .col-md-4
            p
              a.btn.btn-secondary(href='/resume' role='button') View Resume »
        hr
      // /container
    footer.container
      p Built using #[a(href="https://nodejs.org/en/") Node.js], #[a(href="https://expressjs.com/") Express], #[a(href="https://jade-lang.com/") Jade], and #[a(href="https://getbootstrap.com/") Bootstrap].
      p © Cole Swartz 2020
